* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  position: relative;
}
body {
  position: relative;
  overflow: hidden;
  background-color: black;
  /*
 background: -webkit-linear-gradient(45deg, #ff8a00, #ffc100);
*/
}
