* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  position: relative;
}
body {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #eee6e6;
  opacity: 0.8;
  background-image: radial-gradient(#3d3d3d 0.9px, transparent 0.9px),
    radial-gradient(#3d3d3d 0.9px, #eee6e6 0.9px);
  background-size: 36px 36px;
  background-position:
    0 0,
    18px 18px;
}
